body {
  font-family: ;
}
p {
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: left;
}
.advantages h3 {
  text-align: left;
  height: 24px;
  width: 264px;
}
.advantages p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  height: 72px;
  width: 264px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.advantages {
  display: inline-block;
  height: 104px;
  width: 264px;
  margin-right: 24px;
}
.images {
  display: inline-block;
  height: 380px;
  width: 264px;
  margin-right: 24px;
  margin-bottom: 32px;
}
