body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 496px;
  height: 120px;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}
li {
  margin-right: 40px;
  display: inline-block;
  list-style-type: none;
}
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
a {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: #434455;
}
button {
  position: relative;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: white;
  background-color: #4d5ae5;
}
button:hover {
  color: white;
  background-color: #404bbf;
}
button:focus {
  color: white;
  background-color: #404bbf;
}
section {
  padding: 120px 156px;
  margin: 0;
}
header {
  padding: 24px 156px;
  width: 1440px;
  height: 72px;
}
header address {
  display: inline;
  width: 261px;
  height: 24px;
}
header nav {
  margin-right: 332px;
  display: inline;
}
header ul {
  display: inline;
}
header li {
  padding: 0;
  margin-right: 40px;
}

header p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.hero {
  text-align: center;
  padding: 188px 472px;

  background-color: #2e2f42;
}
.s1 li {
  margin-right: 24px;
  display: inline-block;
  width: 264px;
  height: 104px;
}
.s2 {
  background-color: #f4f4fd;
}
.images {
  margin-right: 24px;
  display: inline-block;
  width: 264px;
  height: 380px;
  background-color: white;
}
.portfolio {
  margin-right: 24px;
  display: inline-block;
  text-align: center;
  width: 264px;
  height: 380px;
  background-color: white;
}
footer {
  padding: 100px 156px;
  background-color: #2e2f42;
}
.color {
  color: #4d5ae5;
}
.logo {
  margin-right: 76px;
  width: 115px;
  height: 24px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
}
footer .logo {
  margin-bottom: 16px;
  color: white;
}
footer p {
  height: 72px;
  width: 264px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
}
